*   {  
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.search-button {
    display: flex;
    color: #252525;
    align-self: center;
    transition: .1s;
    padding: 6px;
}

.search-button:hover {
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
}

.button-demo a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    align-self: center;
    color: rgb(86, 17, 212);
    padding: 10px 20px;
    border: 2px solid rgb(86, 17, 212);
    border-radius: 20px;
    transition: .3s;
}

.button-demo a:hover {
    background-color: rgb(98, 54, 218);
    color: #ffffff;
}

.button-demo {
    padding-left: 20px;
}

.margin-right {
    margin-right: 60px;
}

.margin-left {
    margin-left: 10px;
}