body {
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
}

.under {
    display: inline-block;
    color: #252525;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.under:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #252525;
    transform-origin: left;
    transition: transform 0.20s ease-out;
}

.under:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav-menu {
    display: flex;
}

.header-menu {
    display: flex;
    gap: 20px;
    padding-left: 50px;
}
