body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #252525;
    font-size: 14px;
    font-weight: 500;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav-menu {
    display: flex;
}

.header-menu {
    display: flex;
    gap: 20px;
    padding-left: 50px;
}
